.idea/modules.xml
.idea/containerized-pipeline.iml
.idea/encodings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/6/6/6651ddff6eb82c840ced7c1dddee15c6e1913dd4
